PM_DB_CONNECTION=sqlite
PM_SQLITE_DATABASE=E:/code/pm/backend/storage/framework/thinkphp.sqlite

# 切换 MySQL 时改成 mysql，并补齐下面参数
# PM_DB_CONNECTION=mysql
# PM_DB_HOST=127.0.0.1
# PM_DB_PORT=3306
# PM_DB_NAME=pm
# PM_DB_USER=root
# PM_DB_PASSWORD=
# PM_DB_CHARSET=utf8mb4
# PM_DB_PREFIX=